.flexWrapper {
  display: flex; 
  flex-direction: column; 
  align-content: center;
}

.titleWrapper {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  color:white; 
}

.title {
  max-width: 50%; 
  font-size: 4.0vmax; 
  margin-top: 1rem;
}

.subTitle {
  max-width: 50%; 
  font-size: 3.0vmax; 
  margin-top: 0.5rem;
}

.footerWrapper {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  margin-top: 0.5rem; 
  margin-bottom: 0.5rem;
}

.footerWrapper a {
  text-decoration: none; 
  color: white;
  font-size: 2.0vmax;
  margin-left: 1rem;
  margin-right: 1rem;
}

.navigation {
  color:white;
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
}

.navigation a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
}
